.backgroundflag {
    width:100%;
    height: 100%;
    background-image: url('flag.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    height: 600px;
}