.navbar {
    background-color: #ffeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #c40000;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #c40000;
    font-weight: bold;
  }
  